// 
// card.scss
//

.card {
    box-shadow: $box-shadow-sm;
    margin-bottom: $grid-gutter-width;
    .card-drop {
        color: #{map-get($grays, "600")};
        font-size: 20px;
        display: inline-block;
        line-height: 1px;
    }
}

.card-width-220 {
    min-width: 220px;
    max-width: 220px;
}

.card.disabled {
    opacity: 0.8;
    pointer-events: none;
    background: $card-overlay-bg;
}

.card.nomargin {
    margin-bottom: 0px;
}

.card.centered {
    text-align:center;
}

.card-bordered {
    border: 1px solid $border-color;
    border-radius: $card-border-radius;
}

.card-widgets {
    float: right;
    height: 16px;
    > a {
        color: inherit;
        font-size: 18px;
        display: inline-block;
        line-height: 1;

        &.collapsed {
            i {
                &:before {
                    content: "\F0415";
                }
            }
        }
    }
}


// Card title / Card Header
.card-title,
.card-header {
    margin-top: 0;
}


//Card disable loading (Custom Cards)
.card-disabled {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: $card-border-radius;
    background: $card-overlay-bg;
    cursor: progress;

}


.header-title {
    font-size: 1rem;
    margin: 0 0 7px 0;
}

.sub-header {
    font-size: 0.875rem;
    margin-bottom: $grid-gutter-width;
    color: $text-muted;
}

.card-fill {
    height: 100%;
}

.card-hoverable {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        box-shadow: $box-shadow-lg;
        transform: translateY(-1px);
    }
}

.card-hoverable-selected {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: $box-shadow-lg;
    transform: translateY(-1px);

    border : 1px solid $primary;
    border-radius: 5px;

    &:hover {
        box-shadow: $box-shadow-lg;
        transform: translateY(-1px);
    }
}


// dark mode
body[data-layout-color="dark"] {
    .card {
        .card-drop {
            color: #{map-get($dark-grays, "600")};
        }
    }
}